@import "../../style.scss";

.Home {
     @include themify($themes){
      background-color: themed("bgsoft");
     // height: 100vh;
      
     padding: 20px 70px;
     h{
          color: themed("textcolor");
     }

     @include mobile{
          padding: 10px;
      }

      @include tablet{
         padding: 20px;
      }

     }
} 